@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .circle {
        width: 35rem;
        height: 35rem;
        border-radius: 50%;
        @apply absolute bg-blueGray-50 z-0 top-0;
        @apply right-10 md:right-[40%];
    }
    .box {
        width: 20rem;
        height: 35rem;
        @apply absolute bg-blueGray-50 z-0 top-0 left-0;
        @apply w-28 md:w-80;
    }
    .bottom-line::after {
        content: "";
        position: absolute;
        left: 50%;
        margin-left: -50px;
        bottom: 0;
        width: 100px;
        @apply border-b-[3px] border-blueGray-900;
    }
    .site-footer
{
  background-color:#f8f9fa;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#000;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: 40px;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5;
}
.site-footer hr.small
{
  margin:20px 0;
}
.site-footer h6
{
  text-transform:uppercase;
  letter-spacing:2px
}
.site-footer a
{
  color:#4E4E4E;
}
.site-footer .footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none;
}
.footer-links li
{
  display:block;
}
.footer-links a
{
  color:#737373;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block;
}
.site-footer .social-icons
{
  text-align:right;
}
.site-footer .social-icons a
{
  display:inline-block;
  width:40px;
  height:40px;
  text-align:center;
  item-align:center;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  font-size: 20px;
  background-color:#f8f9fa;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.1), -3px -3px 3px  rgba(255,255,255, 1);
}
.copyright-text
{
  margin:0;
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0;
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center;
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none;
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px;
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px;
}

.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a:hover
{
  box-shadow: inset 3px 3px 3px  rgba(0,0,0,0.1), inset -3px -3px 3px rgba(255,255,255, 1);
  background:#f8f9fa;
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
}